# Docker container persistent data
docker/data/
docker/static/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot
**/local_settings.py

#others
.DS_Store
*.crt
*.csr
*.key
dojo/migrations
dojo/static/img/threat/*
dojo/uploads/risk/*
dojo/uploads/reports/*
dojo/scans/scan*
dojo/uploads/threat/*
.idea
*.sqlite
*.db
celerybeat.pid
*.env*
!docker/environments/*.env

weekly.txt
Monthly.txt
Quarterly.txt

# Vagrant
.vagrant

# yarn
components/*
!components/package.json
!components/yarn.lock
!dojo/static/dojo/*
dojo/media
/static
/media

# virtualenv
.venv/
venv/
ENV/
quick.bash
*.tgz

#visual studio code
*.code-workspace

# pipenv
Pipfile
Pipfile*

#ignore locally added certs
docker/certs/*
!docker/certs/readme.txt

#ignore locally added extra fixtures
docker/extra_fixtures/*
!docker/extra_fixtures/readme.txt
docker/extra_settings/*
!docker/extra_settings/README.md

